[Unit]
Description = Servicio TP

[Service]
Type=simple
ExecStart=/bin/bash -c "echo 1 > /home/maxeder87/tp_final/docker/script_tp/sync/outs.txt" 

[Install]
WantedBy=multi-user.target


